# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# RAG / local storage
qdrant_storage/
data/
backend/storage/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store